<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- security headers : may or may not work as meta http-equiv and not real headers -->
  <meta http-equiv="X-XSS-Protection" content="1; mode=block">
  <meta http-equiv="X-Frame-Options" content="Deny">
  <meta http-equiv="X-Download-Options" content="noopen">
  <meta http-equiv="Content-Security-Header" content="default-src 'self'; script-src 'self' https://www.google-analytics.com data:; object-src 'self'; style-src 'self'; img-src 'self'; media-src 'self'; frame-src 'self'; font-src 'self'; connect-src 'self'; report-uri https://report-uri.io/report/32140a72c5fd7b8293b697522f2d8b0f">

  <title>{{ site.name }} - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} — Feed" href="{{ site.url }}/feed.xml" />
  <link type="text/plain" rel="author" href="{{ site.url }}/humans.txt" />

  <!-- protect with sub-resource integrity hash -->
  <!-- openssl dgst -sha384 -binary FILENAME.js | openssl base64 -A -->
  <link rel="stylesheet" href="{{ "/css/font-awesome-4.5.0/css/font-awesome.min.css" | prepend: site.baseurl }}" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
